<!-- views/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Devesh Kumar's Web App</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to Daylight☀️</h1>
    <p>This web application is built using Node.js, Express.js, and Docker. It demonstrates how to containerize a Node.js application and automate its deployment using Jenkins.</p>
    <h2>About the Author</h2>
    <p>Hello! I'm <strong>Devesh Kumar</strong> and this is Assignment 3 of DevOps course. </p>
    <h2>21BCS032 on Oct 23, 2024</h2>
  </div>
</body>
</html>
